table {
  table-layout: fixed;
}

.table tr,
.table td {
  text-align: center;
  width: 10px;
  vertical-align: middle;
  font-size: 0.8vw;
  font-family: 'Rubik', sans-serif;
  color: #474747;
}

.twitterUser {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.65vw;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  background-color: #1DA1F2;
  border: 2px solid black;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  max-width: 140px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.twitterUser:hover {
  background-color: #0d8ecf;
  border-color: #0d8ecf;
}

.twitterUser img {
  border-radius: 50%;
  border: 1px solid grey;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  width: 22px;
  height: 22px;
}



.table td.tableTags {
  font-size: 0.72vw;
}

/* Styles for screens that are 992px or smaller */
@media (max-width: 992px) {

  table {
    table-layout: width:95%;
  }

  .table tr,
  .table td {
    text-align: center;
    width: 10px;
    vertical-align: middle;
    font-size: 2vw;
    font-family: 'Rubik', sans-serif;
    color: #474747;
  }

  .twitterUser {
    font-size: 1.8vw;
  }

  .col-sm-double {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .col-sm-half {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-tweet {
    flex-basis: 15.33333%;
    max-width: 15.33333%;
  }

  .tableTags {
    font-size: 2vw;
  }

  .page-link {
    font-size: 1.5vw;
  }

  .twitterUser img {
    width: 10%;
    height: auto;
  }

}

input {
  text-align: center;
  vertical-align: middle;
  width: 105%;
}

.green {
  background: green;
}

.red {
  background: red;
}

.virustotal {
  width: 16px;
  height: auto;
}

#abuse_ch {
  width: 16px;
  height: auto;
}