openapi: 3.1.0
info:
  title: TweetFeed API
  description: |
    Public REST API for TweetFeed (https://tweetfeed.live), a real-time aggregator of
    Indicators of Compromise (IOCs) - URLs, domains, IPs and file hashes - shared by
    the infosec community on Twitter/X.

    The dataset is refreshed every 15 minutes by scraping RSS feeds from a curated
    list of ~95 security researchers plus security-related hashtags. Coverage starts
    2021-01-01. All data is released under CC0 1.0 Universal (public domain
    dedication) - no attribution required, no warranty.

    All endpoints:
    - Require no authentication.
    - Set `Access-Control-Allow-Origin: *` (CORS open).
    - Cache responses at the CF edge for 30 s (`Cache-Control: public, max-age=30`).
    - Return JSON arrays (one object per IOC), one schema for every route.

    For Threat Intelligence agent integrations there is also a Model Context Protocol
    server at `https://mcp.tweetfeed.live/` (JSON-RPC 2.0, 10 tools).
  version: "1.0"
  contact:
    name: TweetFeed
    url: https://tweetfeed.featurebase.app/
  license:
    name: CC0 1.0 Universal
    url: https://creativecommons.org/publicdomain/zero/1.0/

servers:
  - url: https://api.tweetfeed.live
    description: Production

externalDocs:
  description: API guide with copy-paste examples and FAQ.
  url: https://tweetfeed.live/api/

paths:
  /v1/{time}:
    get:
      operationId: getIocsByWindow
      summary: List IOCs in a time window
      description: |
        Returns all IOCs that landed in the chosen time window. The `today` window
        is the last 24 h, `week` the last 7 d, `month` the last 30 d, `year` the
        last 365 d.

        Note: `year` returns `302` to the raw CSV on GitHub because the full year
        dataset exceeds the 10 ms CPU budget of the underlying Cloudflare Worker
        on the Free plan. Clients should follow redirects.
      parameters:
        - $ref: "#/components/parameters/Time"
      responses:
        "200":
          description: JSON array of IOCs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ioc"
              example:
                - date: "2026-05-21 09:13:00"
                  user: "malwrhunterteam"
                  type: "url"
                  value: "http://example.malicious/path"
                  tags: ["phishing", "scam"]
        "302":
          description: Only for `time=year`. Redirects to the raw CSV on GitHub.
          headers:
            Location:
              schema:
                type: string
                example: https://raw.githubusercontent.com/0xDanielLopez/TweetFeed/master/year.csv

  /v1/{time}/{filter1}:
    get:
      operationId: getIocsByWindowFilter
      summary: List IOCs in a window, filtered once
      description: |
        Same as `/v1/{time}` but filtered by one of:
        - **IOC type** - `url`, `domain`, `ip`, `sha256`, `md5`
        - **Tag** - e.g. `phishing`, `cobaltstrike`, `lockbit`, `ransomware` (full
          taxonomy: 122+ tags, see https://tweetfeed.live/tags/)
        - **Researcher handle** - must include the leading `@`, e.g.
          `@malwrhunterteam`
      parameters:
        - $ref: "#/components/parameters/Time"
        - $ref: "#/components/parameters/Filter1"
      responses:
        "200":
          description: JSON array of IOCs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ioc"

  /v1/{time}/{filter1}/{filter2}:
    get:
      operationId: getIocsByWindowTwoFilters
      summary: List IOCs in a window, two filters AND-ed
      description: |
        Two filters combined with AND semantics. Common patterns:
        - **tag + type** - `/v1/week/phishing/url` (phishing URLs in last 7 d)
        - **tag + tag** - `/v1/month/cobaltstrike/c2`
        - **@user + type** - `/v1/today/@malwrhunterteam/sha256`
      parameters:
        - $ref: "#/components/parameters/Time"
        - $ref: "#/components/parameters/Filter1"
        - $ref: "#/components/parameters/Filter2"
      responses:
        "200":
          description: JSON array of IOCs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ioc"

  /v1/since/{datetime}:
    get:
      operationId: getIocsSince
      summary: List IOCs added since an ISO 8601 datetime
      description: |
        Returns IOCs added after the given ISO 8601 timestamp. Designed for
        delta-syncing a blocklist or Threat Intelligence pipeline without
        re-pulling the full window.

        Strict ISO 8601 required (`Z` UTC suffix or `+HH:MM` offset; ambiguous
        local-time forms are rejected). Edge cases:
        - Future timestamp - `200` with `[]` body.
        - Timestamp older than 365 days - `410 Gone`.
        - Malformed - `400`.
      parameters:
        - $ref: "#/components/parameters/DateTime"
      responses:
        "200":
          description: JSON array of IOCs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ioc"
        "400":
          description: Malformed ISO 8601 timestamp.
        "410":
          description: Timestamp older than the 365 day retention window.

  /v1/since/{datetime}/{filter1}:
    get:
      operationId: getIocsSinceFilter
      summary: List IOCs since a datetime, filtered once
      parameters:
        - $ref: "#/components/parameters/DateTime"
        - $ref: "#/components/parameters/Filter1"
      responses:
        "200":
          description: JSON array of IOCs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ioc"

  /v1/since/{datetime}/{filter1}/{filter2}:
    get:
      operationId: getIocsSinceTwoFilters
      summary: List IOCs since a datetime, two filters AND-ed
      parameters:
        - $ref: "#/components/parameters/DateTime"
        - $ref: "#/components/parameters/Filter1"
        - $ref: "#/components/parameters/Filter2"
      responses:
        "200":
          description: JSON array of IOCs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ioc"

  /v1/ioc:
    get:
      operationId: getIocByValue
      summary: Exact-match lookup for a single IOC
      description: |
        Looks up one IOC value across the full 365-day retention window and
        returns an exact match - not a substring search. Accepts defanged
        input (`hxxp://`, `[.]`, etc.); the value is normalised (refanged)
        server-side before the lookup, same as on ingest.

        Also available as a path parameter: `/v1/ioc/{value}`.
      parameters:
        - $ref: "#/components/parameters/IocValueQuery"
      responses:
        "200":
          description: |
            Lookup result. `found: false` with an empty `records` array when
            there is no match.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IocLookupResult"

  /v1/ioc/{value}:
    get:
      operationId: getIocByValuePath
      summary: Exact-match lookup for a single IOC (path form)
      description: |
        Same lookup as `/v1/ioc?value=...`, with the IOC value passed as a
        path segment instead of a query parameter.
      parameters:
        - $ref: "#/components/parameters/IocValuePath"
      responses:
        "200":
          description: |
            Lookup result. `found: false` with an empty `records` array when
            there is no match.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IocLookupResult"

  /v1/campaigns:
    get:
      operationId: getCampaigns
      summary: List AI-clustered threat campaigns
      description: |
        Returns AI-clustered campaign groupings of the last 7 days of community
        IOCs. Clustering is two-stage: deterministic pre-grouping (shared
        registered domain, cross-domain URL path patterns, or a shared specific
        tag), followed by AI naming and context generation. The AI only names
        and describes clusters - it never adds or removes IOCs; every IOC in a
        campaign is verbatim from the feed.

        Regenerated once a day. If a run fails, `stale` is `true` and the
        document falls back to the previous day's snapshot (`stale_since`
        holds the date of that last successful run).
      responses:
        "200":
          description: Campaigns document.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignsDocument"

  /v1/trends:
    get:
      operationId: getTrends
      summary: Community IOC trend analytics
      description: |
        Returns the trends document: a rolling 31-day daily IOC volume series
        (with a per-type breakdown), week-over-week top movers by tag, the
        most-abused TLDs among malicious domains from the last 30 days, and
        the novelty rate (share of this week's distinct IOC values that are
        new versus recurring). Regenerated alongside the rest of the feed.
      responses:
        "200":
          description: Trends document.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrendsDocument"

  /v1/blocklist/{file}:
    get:
      operationId: getBlocklist
      summary: Download a plain-text blocklist export
      description: |
        Ready-to-consume plain-text exports of the last 30 days, one indicator
        per line, for direct use in Pi-hole, AdGuard Home, hosts files and
        firewalls. This is a 1:1 mirror of the feed - no additional quality
        gate beyond the standard pipeline. Community-reported IOCs, use at
        your own risk.

        Rebuilt every 15 minutes, but a file's content (and its `# Updated:`
        header) only changes when its entries actually change.
      parameters:
        - $ref: "#/components/parameters/BlocklistFile"
      responses:
        "200":
          description: |
            Plain-text blocklist, starting with a comment header block. The
            `# Updated:` line reflects the last time the entries actually
            changed, not the last regeneration.
          content:
            text/plain:
              schema:
                type: string
              example: |
                # TweetFeed blocklist - plain domain list (Pi-hole compatible)
                # Window: 30 days
                # Entries: 4399
                # Updated: 2026-07-12T21:11:25Z
                # License: CC0
                # Community-reported IOCs. Use at your own risk.

                008963466.weebly.com
                06updatelive.xyz
        "404":
          description: Unknown file name (outside the allowlist below).

  /taxii2/:
    get:
      operationId: getTaxiiDiscovery
      summary: TAXII 2.1 discovery endpoint
      description: |
        TAXII 2.1 (read-only) discovery document. Points to the API root at
        `/taxii2/root/`, which exposes the standard TAXII 2.1 collection
        endpoints (`/collections/`, `/collections/{id}/objects/`, etc.) for
        one rolling 31-day collection of community IOCs modeled as STIX 2.1
        objects. No authentication, CC0.

        The full TAXII route surface is intentionally not modeled path-by-path
        here - see the
        [TAXII 2.1 specification](https://docs.oasis-open.org/cti/taxii/v2.1/taxii-v2.1.html)
        and https://tweetfeed.live/api/ for the collection ID and the
        incremental-poll pattern (`added_after` on `/objects/`).
      responses:
        "200":
          description: TAXII 2.1 discovery document.
          content:
            application/taxii+json;version=2.1:
              schema:
                type: object

components:
  parameters:
    Time:
      name: time
      in: path
      required: true
      description: Time window for the query.
      schema:
        type: string
        enum: [today, week, month, year]

    Filter1:
      name: filter1
      in: path
      required: true
      description: |
        First filter. Accepts an IOC type (`url`, `domain`, `ip`, `sha256`, `md5`),
        a tag (e.g. `phishing`, `cobaltstrike`), or a researcher handle prefixed
        with `@` (e.g. `@malwrhunterteam`).
      schema:
        type: string
      examples:
        type:
          value: url
          summary: IOC type
        tag:
          value: phishing
          summary: Tag
        researcher:
          value: "@malwrhunterteam"
          summary: Researcher handle

    Filter2:
      name: filter2
      in: path
      required: true
      description: Second filter, AND-ed with `filter1`. Same value space as `filter1`.
      schema:
        type: string

    DateTime:
      name: datetime
      in: path
      required: true
      description: |
        ISO 8601 datetime, strict form (must end in `Z` for UTC or include a
        `+HH:MM` / `-HH:MM` offset). Ambiguous local-time forms are rejected.
      schema:
        type: string
        format: date-time
        example: "2026-05-01T00:00:00Z"

    BlocklistFile:
      name: file
      in: path
      required: true
      description: |
        Blocklist export to download. `domains.txt` / `hosts.txt` /
        `adguard.txt` are the same domain-level dataset in three formats;
        `ips.txt` is the IP-level dataset. `rpz.txt` is a DNS Response
        Policy Zone (exact and wildcard `CNAME .` records, SOA serial =
        the epoch of the last content change) for BIND, Unbound and
        PowerDNS Recursor. `dnsmasq.txt` uses the `address=/<domain>/0.0.0.0`
        format.
      schema:
        type: string
        enum: [domains.txt, hosts.txt, adguard.txt, ips.txt, rpz.txt, dnsmasq.txt]

    IocValueQuery:
      name: value
      in: query
      required: true
      description: |
        IOC value to look up (URL, domain, IP, or hash). Accepts defanged
        input - `hxxp://`, `[.]`, etc. - normalised server-side before the
        exact-match lookup.
      schema:
        type: string
      example: "example.malicious.com"

    IocValuePath:
      name: value
      in: path
      required: true
      description: Same as the `value` query parameter, passed as a path segment.
      schema:
        type: string

  schemas:
    Ioc:
      type: object
      required: [date, user, type, value, tags]
      properties:
        date:
          type: string
          description: |
            Timestamp the IOC entered the TweetFeed pipeline, UTC, format
            `YYYY-MM-DD HH:MM:SS`. This is the ingest time, not the original
            tweet time.
          example: "2026-05-21 09:13:00"
        user:
          type: string
          description: Twitter/X handle of the reporting researcher (no leading `@`).
          example: "malwrhunterteam"
        type:
          type: string
          enum: [url, domain, ip, sha256, md5]
          description: IOC type.
        value:
          type: string
          description: |
            The IOC value itself. URLs/domains are emitted refanged (the original
            tweet may have defanged them with `[.]` or `hxxp` - the pipeline
            normalises to refanged form on emit). File hashes are lowercase hex.
          example: "http://example.malicious/path"
        tags:
          type: array
          items:
            type: string
          description: |
            Tag labels (typically include the IOC category - `phishing`, `malware`,
            `ransomware`, etc. - plus malware-family or threat-actor labels when
            applicable). Current taxonomy: 122+ tags. Full list at
            https://tweetfeed.live/tags/.
          example: ["phishing", "scam"]

    IocRecord:
      type: object
      required: [type, value, first_seen, last_seen, count, users, tags, tweets]
      properties:
        type:
          type: string
          enum: [url, domain, ip, sha256, md5]
          description: IOC type.
        value:
          type: string
          description: The IOC value, refanged (same normalisation as the main feed).
        first_seen:
          type: string
          format: date-time
          description: UTC timestamp of the earliest occurrence within the 365-day window.
        last_seen:
          type: string
          format: date-time
          description: UTC timestamp of the most recent occurrence within the 365-day window.
        count:
          type: integer
          description: Total number of times this IOC was reported within the window.
        users:
          type: array
          maxItems: 10
          items:
            type: string
          description: Reporting researcher handles (no leading `@`), capped at 10.
        tags:
          type: array
          maxItems: 10
          items:
            type: string
          description: Distinct tags observed across all reports of this IOC, capped at 10.
        tweets:
          type: array
          maxItems: 3
          items:
            type: string
          description: Sample source tweet URLs, capped at 3.
        related:
          type: array
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: string
            description: A `[type, value]` pair.
          description: |
            Optional. Other IOCs posted in the same source tweets as this one
            (sample, max 5). Absent when there are none.

    IocLookupResult:
      type: object
      required: [found, query, window, records]
      properties:
        found:
          type: boolean
          description: Whether at least one matching record was found.
        query:
          type: string
          description: The normalised (refanged) value that was looked up.
        window:
          type: string
          description: Retention window searched.
          example: "365d"
        records:
          type: array
          items:
            $ref: "#/components/schemas/IocRecord"
        ai:
          type: object
          description: |
            Optional. AI-generated enrichment sidecar for this IOC - not part
            of the canonical feed data, present only once an enrichment run
            has annotated this value.
          properties:
            summary:
              type: string
              description: AI-generated one-line summary of the IOC's context (<=200 chars).
            family:
              type: string
              nullable: true
              description: Malware family, when identifiable. `null` otherwise.
            threat_type:
              type: string
              description: AI-classified threat category.
            suggested_tags:
              type: array
              items:
                type: string
              description: AI-suggested tags drawn from the feed's tag vocabulary.
            confidence:
              type: number
              description: AI confidence score, 0-1.
            enriched_at:
              type: string
              format: date-time
              description: UTC timestamp of the enrichment run.

    TrendsDocument:
      type: object
      description: |
        Trends analytics document. Loosely typed here - see
        https://tweetfeed.live/trends/ for the human-readable rendering.
      properties:
        daily:
          type: object
          description: |
            31 days of totals plus a per-IOC-type breakdown (url/domain/ip/
            sha256/md5), used for the rolling 30-day volume chart.
        movers:
          type: object
          description: Current vs previous 7-day tag counts, ranked by change magnitude.
        tlds:
          type: object
          description: Top TLDs among malicious domains from the last 30 days.
        novelty:
          type: object
          description: |
            Share of this week's distinct IOC values that are new versus
            recurring.

    CampaignsDocument:
      type: object
      required: [version, generated_at, window, stale, campaign_count, campaigns]
      properties:
        version:
          type: integer
          description: Schema version of the campaigns document. Currently `1`.
          example: 1
        generated_at:
          type: string
          format: date-time
          description: UTC timestamp of the clustering run that produced this document.
          example: "2026-07-05T19:36:35Z"
        window:
          type: string
          enum: [week]
          description: Source window for clustering - always the rolling last 7 days.
        stale:
          type: boolean
          description: |
            `true` if the daily clustering run failed and this document was
            carried over from the previous successful run.
        stale_since:
          type: string
          nullable: true
          format: date
          description: Date of the last successful run. Only set when `stale` is `true`, `null` otherwise.
          example: null
        campaign_count:
          type: integer
          description: Number of entries in `campaigns`.
          example: 23
        campaigns:
          type: array
          items:
            $ref: "#/components/schemas/Campaign"

    Campaign:
      type: object
      required:
        [id, name, context, confidence, targeted_brand, first_seen, last_seen,
         ioc_count, types, tags, reporters, iocs, member_cluster_ids, anchors]
      properties:
        id:
          type: string
          description: Stable campaign identifier - `tfc-` followed by 12 hex chars.
          example: "tfc-6d1f6fb9260c"
        name:
          type: string
          description: Short AI-generated campaign name.
          example: "Multi-family RAT/stealer C2 on compromised and DDNS hosts"
        context:
          type: string
          description: |
            AI-generated paragraph describing the campaign's infrastructure,
            malware families and delivery pattern. Describes the underlying
            IOCs only - never introduces facts absent from the data.
        confidence:
          type: string
          enum: [high, medium, low]
          description: |
            How strongly related the underlying IOCs are, based on shared
            anchors (domains, path patterns, tags) and reporter overlap.
        targeted_brand:
          type: string
          nullable: true
          description: Brand or organization the campaign appears to target, when identifiable. `null` otherwise.
        first_seen:
          type: string
          format: date
          example: "2026-06-29"
        last_seen:
          type: string
          format: date
          example: "2026-07-05"
        ioc_count:
          type: integer
          description: Total IOCs in the cluster (may exceed the `iocs` sample size).
          example: 198
        types:
          type: object
          description: Per-IOC-type counts across the cluster.
          additionalProperties:
            type: integer
          example: {"domain": 53, "ip": 32, "md5": 17, "sha256": 15, "url": 81}
        tags:
          type: array
          items:
            type: string
          description: Tags observed across the cluster's IOCs.
        reporters:
          type: array
          items:
            type: string
          description: Twitter/X handles (no leading `@`) that reported IOCs in this cluster.
        iocs:
          type: array
          maxItems: 25
          items:
            $ref: "#/components/schemas/Ioc"
          description: Sample of up to 25 member IOCs, verbatim from the feed (same shape as `/v1/{time}`).
        member_cluster_ids:
          type: array
          items:
            type: string
          description: IDs of the deterministic pre-grouping clusters merged into this campaign.
        anchors:
          type: object
          description: Deterministic pre-grouping signals used before AI naming.
          properties:
            registered_domains:
              type: array
              items:
                type: string
            url_path_patterns:
              type: array
              items:
                type: string
            tags:
              type: array
              items:
                type: string
